.list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}


@media screen and (width <= 1150px) {
    .list {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (width <= 870px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (width <= 600px) {
    .list {
        grid-template-columns: repeat(1, 1fr);
    }
}