.card {
    width: 100%;
    aspect-ratio: 7/5;
    padding: 1.8rem;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    transition: background 300ms ease-in-out;

    h2 {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
    p {
        display: -webkit-box;
        line-clamp: 5;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
}
